UnitTestProject1/Connected Services/CalcService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58047/Calc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58047/Calc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalc_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="ICalc_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Addition_InputMessage">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="ICalc_Addition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Subtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtraction" />
  </wsdl:message>
  <wsdl:message name="ICalc_Subtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Multiplication_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplication" />
  </wsdl:message>
  <wsdl:message name="ICalc_Multiplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="ICalc_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICalc_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalc">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/TestConnection" message="tns:ICalc_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/TestConnectionResponse" message="tns:ICalc_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Addition" message="tns:ICalc_Addition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/AdditionResponse" message="tns:ICalc_Addition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Subtraction" message="tns:ICalc_Subtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/SubtractionResponse" message="tns:ICalc_Subtraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Multiplication" message="tns:ICalc_Multiplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/MultiplicationResponse" message="tns:ICalc_Multiplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Division" message="tns:ICalc_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/DivisionResponse" message="tns:ICalc_Division_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/GetData" message="tns:ICalc_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/GetDataResponse" message="tns:ICalc_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalc" type="tns:ICalc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/ICalc/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/ICalc/Addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <soap:operation soapAction="http://tempuri.org/ICalc/Subtraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap:operation soapAction="http://tempuri.org/ICalc/Multiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/ICalc/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICalc/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ICalc" binding="tns:BasicHttpBinding_ICalc">
      <soap:address location="http://localhost:58047/Calc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>